@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400&family=Dancing+Script:wght@400;600;700&family=Playball&display=swap");

.font-dancing {
  font-family: "Dancing Script", cursive;
}

.font-playball {
  font-family: "Playball", cursive;
}

* {
  font-family: "Open Sans", cursive;
}

.bg-berem {
  background-color: #030314;
}

.text-berem {
  color: #252641;
}

.bg-wakwak {
  background-color: #030314;
}

.text-wakwak {
  background-color: #ffe2e2;
}

.bg-fee {
  background-color: #f6f6f6;
}

.bg-kulit {
  background-color: #ffc7c7;
}

.fs-60 {
  font-size: 60px;
}

.fs-45 {
  font-size: 45px;
}

.fs-40 {
  font-size: 40px;
}

.scale {
  overflow: hidden;
  transition: 0.5s;
}
.scale:hover {
  transform: scale(1.05);
}

.norek {
  cursor: pointer;
  border: none;
  outline: none;
}
p {
  color: white;
}

/* #front-text{
  margin-top: 20px;
} */

@media (max-width: 640px) {
  h1 {
    font-size: 1.5rem !important;
  }
  #front-image {
    display: none;
  }
  #front-text {
    padding-top: 15%;
    height: 100vh;
    background-image: url(../img/bgdepan.jpg); background-size: cover;
    color: white;
  }

  #text-undang{
    padding-top: 40% ;
  }
  
  p{
    color: white;
  }
  
  .container #waktu{
    margin-top: -300px;
  }
}

#front-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%; /* Aspect ratio 16:9 */
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
